.welcome-modal-close-btn {
  float: right;
}

.welcome-modal-description {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.welcome-modal-description-2 {
  margin: 10px;
}

.welcome-modal-signoff {
  float: right;
}

.modal-close-btn-div {
  float: right;
}

.btn-enter-mozo {
  background-color: #f1ff94;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
}

.btn-enter-mozo:hover {
  background-color: #d5ee32;
  color: black;
}
