@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.modal-content {
  background-color: black;
}

.modal-title {
  text-align: center;
  justify-content: space-between;
}

.modal {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.btn-submit {
  background-color: #f1ff94;
  color: black;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
}

.btn-submit:hover {
  background-color: #d5ee32;
  color: black;
}
